body {
    background-color: #F1F1F1;
    color: #23120B;
    text-align: center;
    font-family: "Open Sans"
}

::selection {
    background-color: #c0c0f2;
}

.main-div {
    margin-top: 4%;
    margin-bottom: 4%;
}

.title-div {
    height: 100%;
    margin: auto 8%;
}

.profile-pic {
    margin: 6rem auto 4.5rem;
    height: 10rem;
    border-radius: 5rem;
    box-shadow: 0 0.25rem 0.5rem #21209C;
}

.profile-pic:hover {
    box-shadow: 0 0.25rem 0.5rem #FDB827;
}

.summary-div {
    margin: auto 28%;
}

.description-div {
    margin: auto 28%;
}

.skill-div {
    margin: 8% auto;
}

.hobbies-div {
    margin: auto 28%;
}

hr {
    margin: 4% 8%;
    border-top: 5px solid #21209C;
    border-radius: 5px;
}

h1 {
    font-family: "Kalam";
    font-size: 6rem;
    line-height: 7.5rem;
    color: #21209C;
}

h2 {
    margin-bottom: 1.25rem;
}

h3 {
    margin: 1rem auto;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

.bold {
    font-weight: 700;
}

a {
    color: #21209C;
    text-decoration: none;
}

a:hover {
    color: #FDB827;
}

p {
    text-align: justify;
}

.fa-solid {
    font-size: 5rem;
    margin: 4% 0;
    color: #21209C;
}

.fa-solid:hover {
    color: #FDB827;
}

.skill-image {
    float: left;
    height: 10rem;
}

.right {
    float: right;
    margin-left: 1.5rem;
}

.left {
    float: left;
    margin-right: 1.5rem;
}

.hobbies-div p {
    margin-bottom: 2rem;
}

.skill-div p {
    font-family: "Merriweather";
    line-height: 1.75rem;
    font-size: 1rem;
}

.code {
    font-family: "Roboto Mono"
}

.hobby-icon {
    height: 3rem;
}

.link-icon {
    margin: auto 3.5rem;
    height: 2rem;
    /* opacity: 30%; */
    filter: contrast(25%);
}

.link-icon:hover {
    filter: invert(89%) sepia(11%) saturate(6303%) hue-rotate(336deg) brightness(100%) contrast(99%);
}

.link-row {
    margin: 5% auto;
}

.footer-link {
    font-size: 0.75rem;
}

.consent {
    background-color: #F1F1F1;
    position: fixed;
    text-align: center;
    padding: 2% 5%;
    margin: 0 auto;
    bottom: 2%;
    left: 1%;
    right: 1%;
    width: 85%;
    z-index: 1;
    border-radius: 2.5% / 15%;
    border: solid #21209C;
}

.consent-button {
    background-color: #21209C;
    color: #F1F1F1;
    border-radius: 5%;
    border: none;
    width: 6rem;
    height: 3rem;
    font-size: 1.25rem;
    margin: 1rem 1rem 0;
}

.consent-button:hover {
    background-color: #FDB827;
    color: #23120B
}

@media (max-width: 1200px) {
    .title-div, .description-div, .summary-div, .hobbies-div {
        margin: auto 10%;
    }

    .skill-div {
        margin: 12% auto;
    }

    .consent {
        border-radius: 2.5% / 12.5%;
        padding: 3% 7.5%;
    }

}

@media (max-width: 1000px) {
    hr {
        margin: 9% 8%;
    }

    h2 {
        font-size: calc(2.5rem + 1.5vw);
        margin-bottom: 2.5rem;
    }

    h3 {
        font-size: calc(2.5rem + 1.25vw);
        margin: 0.5rem auto 3.5rem;
    }

    h4 {
        font-size: calc(1.25rem + 1.25vw)
    }

    .consent-button {
        font-size: calc(1rem + 1.25vw)
    }

    .profile-pic {
        height: 12rem;
        border-radius: 6rem;
    }

    p {
        font-size: 2.25rem;
    }

    .skill-div p {
        font-size: 2.25rem;
        line-height: 3.5rem;
    }

    .skill-image {
        height: 15rem;
    }

    .right {
        margin-left: 2.5rem;
    }

    .left {
        margin-right: 2.5rem;
    }

    .hobby-icon {
        margin-top: 1.5rem;
    }

    h5 {
        font-size: 2rem;
    }

    .link-row {
        margin: 7% auto;
    }

    .link-icon {
        height: 3rem;
        margin: auto 2.5rem;
    }

    .footer-link {
        font-size: 1.25rem;
    }

    .link-icon {
        margin: auto 4rem;
    }

    .consent {
        border-radius: 3% / 7.5%;
        padding: 5% 7.5%;
    }
}

/*
Palette
https://colorhunt.co/palette/226633
*/
