body {
  background-color: #F1F1F1;
  color: #23120B;
  text-align: center;
  font-family: "Open Sans"
}

.main-div {
  margin-top: 4%;
  margin-bottom: 4%;
}

.title-div {
  height: 100%;
  margin: auto 8%;
}

.profile-pic {
  margin: 6rem auto 4.5rem;
  height: 10rem;
  border-radius: 5rem;
  box-shadow: 0 0.25rem 0.5rem #646ECB;
}

.profile-pic:hover {
  box-shadow: 0 0.25rem 0.5rem #FDB827;
}

.summary-div {
  margin: auto 29%;
}

.description-div {
  margin: auto 28%;
}

.skill-div {
  margin: 8% auto;
}

.hobbies-div {
  margin: auto 28%;
}

hr {
  margin: 4% 8%;
  border-top: 5px solid #3532A7;
  border-radius: 5px;
}

h1 {
  font-family: "Kalam";
  font-size: 6rem;
  line-height: 7.5rem;
  color: #21209C;
}

h2 {
  margin-bottom: 1rem;
}

h5 {
  font-size: 1rem;
}

.bold {
  font-weight: 700;
}

a {
  color: #21209C;
}

a:hover {
  color: #FDB827;
}

p {
  text-align: justify;
}

.fa-solid {
  font-size: 5rem;
  margin: 4% 0;
  color: #21209C;
}

.fa-solid:hover {
  color: #FDB827;
}

.skill-image {
  float: left;
  height: 10rem;
}

.right {
  float: right;
  margin-left: 1.5rem;
}

.left {
  float: left;
  margin-right: 1.5rem;
}

.hobbies-div p {
  margin-bottom: 2rem;
}

.skill-div p {
  font-family: "Merriweather";
  line-height: 1.75rem;
  font-size: 1rem;
}

.code {
  font-family: "Roboto Mono"
}

.hobby-icon {
  height: 3rem;
}

.link-icon {
  margin: auto 3.5rem;
  height: 2rem;
  /* opacity: 30%; */
  filter: contrast(25%);
}

.link-icon:hover {
  filter: invert(89%) sepia(11%) saturate(6303%) hue-rotate(336deg) brightness(100%) contrast(99%);
}

.link-row {
  margin: 5% auto;
}

.footer-link {
  font-size: 0.75rem;
}

@media (max-width: 1200px) {
  .title-div, .description-div, .summary-div, .hobbies-div {
    margin: auto 15%;
  }
}

@media (max-width: 1200px) {
  hr {
    margin: 9% 8%;
  }
  h2 {
    font-size: calc(2.5rem + 1.5vw);
    margin-bottom: 2rem;
  }
  h3 {
    font-size: calc(2.5rem + 1.25vw);
  }
  p {
    font-size: 2.25rem;
  }
  .skill-div p {
    font-size: 2.25rem;
    line-height: 3.5rem;
  }
  .skill-image {
    height: 15rem;
  }
  h5 {
    font-size: 2rem;
  }
  .link-row {
    margin: 7% auto;
  }
  .link-icon {
    height: 3rem;
    margin: auto 2.5rem;
  }
  .footer-link {
    font-size: 1.25rem;
  }
}

/*
Palette
https://colorhunt.co/palette/eae7edb793e6646ecb3532a7
*/
